* text=auto
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.jpg binary
*.png binary
artifacts/*.blend filter=lfs diff=lfs merge=lfs -text
artifacts/*.usdz filter=lfs diff=lfs merge=lfs -text
artifacts/*.mp4 filter=lfs diff=lfs merge=lfs -text
artifacts/*.glb filter=lfs diff=lfs merge=lfs -text
